.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

button.button {
  margin-top: 50px;
  background-color: #fff;
  color: var(--main);
  width: 145px;
  border: 1px solid rgba(71, 84, 103, 0.2);

  transition: border-color var(--duration) var(--time-function);
}

button.button:hover,
button.button:focus {
  border-color: var(--button);
}
