.container {
  display: block;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  margin-bottom: 44px;
}

.list {
  display: flex;
  gap: 40px;
}

.button {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  text-transform: capitalize;

  background-color: transparent;
  border: none;
}

.activeTab::after {
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;

  content: ' ';
  border-bottom: 5px solid var(--button);
}
