@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon-airConditioner {
  fill: transparent;
  stroke: var(--main);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORS */
  --main: #101828;
  --text: #475467;
  --button: #e44848;
  --button-active: #d84343;
  --rating: #ffc531;
  --block-features: #f2f4f7;
  --inputs: #f7f7f7;

  /* ANIMATION */
  --duration: 300ms;
  --time-function: ease-in-out;
}
